body, html {
    height: 100%;
}

body {
    background: #faf9fe;
    color: #1F354A;
    font: normal 16px/24px Montserrat;
}

a {
    text-decoration: none;
    color: #3B15A2;
}

a:hover {
    text-decoration: none;
    color: #44DCC4;
}

h4 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding-bottom: 100px;
}

.mob-nav {
    line-height: 65px;
    background: linear-gradient(180deg, #3527A2 0%, #3B15A2 100%), #F3F1F9;
    color: #fff;
    margin-bottom: 20px;
}

.mob-nav a {
    color: #fff;
    text-align: center;
}

.mob-nav__menu {
    padding-bottom: 10px;
}

.mob-nav__menu a {
    display: block;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    line-height: 40px;
}

.menu {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #3527A2 0%, #3B15A2 100%), #F3F1F9;
    color: #fff;
}

.menu a {
    color: #fff;
}

.menu--main {
    background: none;
}

.menu--main a {
    color: #381EA2;
}

.menu--main .menu__phone {
    color: #000;
}

.menu__phone {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
}

.menu2 {
    padding: 10px 10px 10px 30px;
    line-height: 30px;
    margin-top: 10px;
}

.menu2 a {
    display: block;
    color: #381EA2;
    font-size: 14px;
}

.menu2 a:hover {
    color: #A21E6D;
}

.logo {
    background-image: url(/sergeyvashchenko96.bitbucket.io/images/logo_bg.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 214px;
    height: 116px;
    padding-top: 15px;
}

.btn-vuga {
    background: #44DCC4;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    width: 100%;
    max-width: 320px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.btn-vuga:hover {
    color: #fff;
    background: rgba(68, 220, 196, 0.22);
}

a.btn-vuga2 {
    color: #3B15A2;
    border: solid 1px #3B15A2;;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 27px;
}

a.btn-vuga2:hover {
    color: #44DCC4;
    border: solid 1px #44DCC4;;
}

a.btn-vuga3 {
    color: #fff;
    background: #44DCC4;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 37px;
}

a.btn-vuga3:hover {
    color: #fff;
    background: rgba(68, 220, 196, 0.22);
}

a.btn-vuga4 {
    color: #381EA2;
    background: #fff;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 61px;
    padding: 0;
}

.btn-vuga5 {
    width: 46px;
    line-height: 46px;
    padding: 0;
    border: solid 1px #381EA2;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.btn-vuga6 {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    padding: 0;
    background: #381EA2;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.btn-30 {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}

.btn-30 img {
    height: 16px;
}

label {
    margin: 0;
    display: block;
}

.hero {
    background: url(/sergeyvashchenko96.bitbucket.io/images/triagle.png) no-repeat center;
    min-height: 400px;
    margin-bottom: 100px;
}

.hero__zag {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero__podzag {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero__time {
    font-weight: bold;
    font-size: 20px;
    color: #44DCC4;
    margin-bottom: 20px;
}

.anketa {
    padding: 40px 30px;
    border-radius: 10px;
    background: #fff;
    height: 530px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.anketa h4 {
    font-size: 28px;
}

.anketa input[type=text] {
    line-height: 56px;
    height: 56px;
}

.swiper-slide {
    padding: 30px;
}

.anketa-prev {
    vertical-align: top;
}

.error {
    background: red;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
}

.section1 {
    background-color: #fff;
    padding: 90px 0;
}

.section2 {
    background-color: #f2f8fb;
    padding: 90px 0;
}

.pt-150 {
    padding-top: 150px;
}

.table-vuga {
    background-color: #fff;
    font-size: 16px;
    text-align: center;
}

.table-vuga th {
    text-align: center;
    text-transform: uppercase;
    background-color: #caedfe;
    color: #0b2239;
    font: normal 18px SeroProMedium;
}

.green {
    color: #97bd1c;
}

.blue {
    color: #019efb;
}

.flat {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 40px;
    color: #97bd1c;
}

.car-preview {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-preview a {
    margin: 15px;
}

.docs {
    display: flex;
}

.section3 {
    background-color: #f2f8fb;
    padding: 90px 0;
}

.strong {
    font-weight: bold;
}

.quest {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.faq {
    background: #3B15A2;
    color: #fff;
    padding: 90px 0;
}

.faq__zag {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 60px;
}

a.faq__quest {
    display: block;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
}

.faq__answer {
    padding: 0 30px 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 27px;
}

.steps {
    margin-bottom: 90px;
}

.steps__step {
    padding: 30px 30px;
    border-radius: 10px;
    background: #faf7fe;
    height: 100%;
}

.steps__number {
    font-size: 40px;
    color: #44DCC4;
    margin-bottom: 50px;
}

.steps__zag {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.condition {
    background: #3B15A2;
    color: #fff;
    padding: 70px 0 0;
    border-radius: 10px;
    margin-bottom: 70px;
}

.condition__zag {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.condition__podzag {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 100px;
}

.condition__type {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

.condition__option {
    margin-bottom: 40px;
    display: flex;
}

.condition__option-pic {
    width: 85px;
    text-align: center;
}

.condition__option-profit {
    color: #44DCC4;
    margin-top: 10px;
}

.condition__text {
    margin: 0 150px;
}

@media (max-width: 480px) {
    .condition__text {
        margin: 0;
    }
}

.gradient1 {
    background: linear-gradient(0deg, rgba(59, 21, 162, 0) 0%, #3B16A2 100%), radial-gradient(600px at 0% 0%, rgba(43, 255, 217, 0.12) 0%, rgba(162, 21, 89, 0.05) 100%);
}

.footer {
    padding: 50px 0 100px;
    background: #11062F;
    color: #fff;
}

.footer__copyright {
    font-size: 14px;
    opacity: 0.3;
    margin-top: 10px;
}

a.footer__phone {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

a.footer__email {
    font-size: 18px;
    color: #fff;
    display: block;
    margin-top: 17px;
    opacity: 0.3;
}

.footer__about a {
    font-size: 14px;
    line-height: 14px;
    color: #44DCC4;
    display: block;
    margin-bottom: 19px;
}

.footer__about a:hover {
    color: #fff;
}

.footer__text {
    margin-top: 26px;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.3;
}

.footer__social a {
    margin-bottom: 29px;
    opacity: 0.2;
    padding-right: 42px;
    display: inline-block;
}

.callback {
    background: #3B15A2;
    color: #fff;
    padding: 100px 0;
}

.callback__zag {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.reviews {
    margin-bottom: 100px;
}

.reviews__zag {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.order {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    margin: 0 0 15px;
    border-radius: 6px;
}

.order .col:first-child {
    padding-left: 30px;
}

.order .col:last-child {
    padding-right: 30px;
}

.order--my {
    background: #FFF2E2;
    border: 1px solid #FBDEBB;
}

.order--request > div {
    border-right: 1px solid #FCE0C0;
}

.order--request > div:last-child {
    border-right: none;
}

.order--request {
    color: #FF8642;
    background-color: #FFF2E2;
    border: 1px solid #FBDEBB;
}

.order--wait {
    color: #44DCC4;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
}

.order--wait > div {
    border-right: 1px solid #EAEAEA;
}

.ordert > div:last-child {
    border-right: none;
}

.order--stop {
    color: #D9D9D9;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
}

.order--stop > div {
    border-right: 1px solid #EAEAEA;
}

.order--stop > div:last-child {
    border-right: none;
}

.order__num {
    font-weight: bold;
    font-size: 16px;
    color: #1F354A;
}

.order__timer {
    font-size: 18px;
    height: 29px;
    color: #313035;

}

.order__middle {
    font-size: 14px;
    font-weight: bold;
    color: #1F354A;
    text-transform: uppercase;
    height: 29px;
}

.order__wait {
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    color: #44DCC4;
}

.order__button {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #3B15A2;
    border-radius: 5px;
    border-color: #3B15A2;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.order__small {
    line-height: 25px;
    font-size: 16px;
    color: rgba(49, 48, 53, 0.44);
}

.filter {
    margin-bottom: 30px;
}

.filter__head {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.filter__title {
    font-size: 14px;
    line-height: 50px;
    background-color: #fff;
    color: #BABABA;
    padding: 0 20px;
    border-radius: 6px;
}

.filter__title a {
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}

.filter__my {
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.filter__menu {
    display: flex;
    border-radius: 6px;
    line-height: 38px;
    padding: 6px;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter__menu a {
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    color: #000;
}

.filter__menu a.active {
    background: #44DCC4;
    color: white;
    border-radius: 6px;
}

.filter__body {
    background: #fff;
    border-radius: 6px;
    padding: 30px 23px 20px 26px;
}

.filter__forms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter__forms input[type=text], .filter__forms select {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 6px;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
}

.filter__forms *:last-child {
    margin-right: 0;
}

.filter__footer {
    text-align: right;
}

a.filter__reset {
    display: inline-block;
    color: #bababa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 42px;
}

a.filter__apply {
    display: inline-block;
    color: #fff;
    background: #44DCC4;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 42px;
}

@media (max-width: 480px) {
    .filter__forms, .filter__head {
        display: block;
    }
}

.deal-card {
    background: #fff;
    padding: 30px;
    border-radius: 6px;
}

.deal-card__sum {
    font-size: 30px;
    font-weight: bold;
    color: #44DCC4;
}

.deal-card__middle {
    font-size: 14px;
    border-top: solid 1px #F4F4F4;
    border-bottom: solid 1px #F4F4F4;
}

.counter-item {
    margin-bottom: 10px;
}

.counter-item span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #44DCC4;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-range {
    height: 39px;
}

.custom-range::-webkit-slider-thumb {
    background: #44DCC4;
    width: 39px;
    height: 39px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-top: -18px;
}

.custom-range::-webkit-slider-runnable-track {
    height: 4px;
}

.news {
    padding: 60px 0;
}

.news__date {
    margin-bottom: 10px;
    color: #3B15A2;
}

.news__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.news__anons {
    margin-bottom: 10px;
}

.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.card-body .btn {
    background: transparent;
    border: 1px solid #44DCC4;
    color: #44DCC4;
    margin: 0 auto;
}

.card-title {
    font-weight: bold;
}

.card-body-description > span {
    color: #3B15A2;
    padding-right: 15px;
}

.card-body-description {
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body-description > svg {
    margin-right: 5px;
}

.card {
    background: transparent;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}

.card-image {
    position: relative;
}

.card-image-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 60px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(30, 19, 66, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 0px 10px 0px 0px;
}

.card-image-blur > p {
    margin-bottom: 0;
}

.card-body .btn {
    margin: 0 auto;
    display: block;
    max-width: 245px;
}

.card-image > img {
    height: 215px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pre-footer {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.card {
    padding: 25px;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}