<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Happy birthday Olya Savchenko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-controller="TodoListController">
<div class="wr">
    <div class="carousel carousel-slider">
        <a class="carousel-item" ng-repeat="(key, value) in images">
            <img ng-src="{{value}}">
        </a>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <img src="img.jpg">
    </div>
</div>
<script>
    angular.module('todoApp', [])
        .controller('TodoListController', function ($scope) {
            $scope.images = {
                0: "https://scontent-waw1-1.cdninstagram.com/vp/83dfdbbe27cb4279ee9c4e0da81acadc/5DF4363D/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/67402695_105521090818637_8562709409135060551_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                1: "https://scontent-waw1-1.cdninstagram.com/vp/81bc03a918edd386ae62461668d1b71d/5E138B23/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/66696981_505956346823249_5228713478634103561_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                2: "https://scontent-waw1-1.cdninstagram.com/vp/a7a25d898d10333c3d1f45baa616b87a/5DDBE28D/t51.2885-15/sh0.08/e35/c0.179.1440.1440a/s640x640/66162837_376234953062791_7673083339273679127_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                3: "https://scontent-waw1-1.cdninstagram.com/vp/fb7cb8992031f3488151b7296fc613e0/5E122C24/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/65303648_184191425928084_1327887065063230414_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                4: "https://scontent-waw1-1.cdninstagram.com/vp/e6cd0e161d36c046b928108450bd28e6/5E09BE51/t51.2885-15/sh0.08/e35/c0.179.1440.1440a/s640x640/66631015_2343073699093117_5870660839441836161_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                5: "https://scontent-waw1-1.cdninstagram.com/vp/1edaec6edb88e1d307b4021207d714dc/5DF0C1B9/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/67446673_126567525286580_8818386454644825945_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                6: "https://scontent-waw1-1.cdninstagram.com/vp/e335711db2d5b21c7bf50b50958665da/5DFB0763/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/65306692_208672970126698_3264530460632943095_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                7: "https://scontent-waw1-1.cdninstagram.com/vp/89d4651e7b079449cfdf23a3a1cbfc03/5DF18384/t51.2885-15/sh0.08/e35/s640x640/64428684_144806543264533_5364010502382304305_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                8: "https://scontent-waw1-1.cdninstagram.com/vp/3919d5487300a72b0a320c86f3bf0482/5E124E29/t51.2885-15/sh0.08/e35/c0.180.1440.1440/s640x640/60605812_172478470418713_5805470594922124008_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                9: "https://scontent-waw1-1.cdninstagram.com/vp/8cf9899ba305f7b45594e37470089d3c/5E13487C/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/61342316_167257424282107_2211711200627125254_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                10: "https://scontent-waw1-1.cdninstagram.com/vp/8c609cf10f83b7c3a3a2c1a9adee5a87/5E083423/t51.2885-15/sh0.08/e35/c0.180.1440.1440/s640x640/61144023_117440279478148_4320276455446068560_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                11: "https://scontent-waw1-1.cdninstagram.com/vp/90d11e4002678930e484a7952e375046/5DF6EF8F/t51.2885-15/sh0.08/e35/c0.180.1440.1440/s640x640/61545229_390342355022979_8333266652582957516_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                12: "https://scontent-waw1-1.cdninstagram.com/vp/1a89d63f4b74c91a977f5297383a1225/5E11A797/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/61904813_143091393503748_5743885253891990451_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                13: "https://scontent-waw1-1.cdninstagram.com/vp/4b473fa80c97af1f1910bdfb3232bc37/5DFC6790/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/61671783_604829720017114_2155624241605605266_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                14: "https://scontent-waw1-1.cdninstagram.com/vp/e35930aa0ffbac7dae534200f4f2476f/5DF0FECD/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/60604679_1803393859762829_4194898487821247676_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                15: "https://scontent-waw1-1.cdninstagram.com/vp/dd43f36afc55c703b317a62671371b66/5E159F2B/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/60976101_119075685971854_3230039505019529504_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                16: "https://scontent-waw1-1.cdninstagram.com/vp/7c635bd1994618757271fb9b5938a840/5DF8914E/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/61653828_2254873901226096_6597309978212482259_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                17: "https://scontent-waw1-1.cdninstagram.com/vp/c719506f75b674cf9a92f4ffa376ad1d/5DD8BC08/t51.2885-15/sh0.08/e35/c0.180.1440.1440/s640x640/60679808_376469953212623_1498679761823335487_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                18: "https://scontent-waw1-1.cdninstagram.com/vp/ff3ca4252b36b2c6dafc3eb3b1864249/5DFB114C/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/60137076_298644737743532_4804067908568087814_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                19: "https://scontent-waw1-1.cdninstagram.com/vp/8b773af7fb218efb36a55ca144c79d05/5E12F85B/t51.2885-15/sh0.08/e35/c180.0.1079.1079a/s640x640/60905974_2776736875675856_829069126801311831_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                20: "https://scontent-waw1-1.cdninstagram.com/vp/ece6ba72066e9a4ec85be0f7c0364cde/5E0C3A14/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/58423660_659645717811575_1909455710611265512_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                21: "https://scontent-waw1-1.cdninstagram.com/vp/017b6e5bdb558f5ac7afd1087d7eabe1/5DDDDAE1/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/57068585_289401508616617_2764964162302489396_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                22: "https://scontent-waw1-1.cdninstagram.com/vp/f5b143eeab16f77d11ad1e569c6e5535/5E0FE0A1/t51.2885-15/sh0.08/e35/c0.117.937.937a/s640x640/58409878_2274596559263404_68946737715668228_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                23: "https://scontent-waw1-1.cdninstagram.com/vp/7131831d50fd70667b021168c957d868/5DF5F257/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/56679683_432333087503209_351112786890892824_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                24: "https://scontent-waw1-1.cdninstagram.com/vp/5b27ac5a52c79e1fa10edbf3f604f154/5DF1F330/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/57019639_1010475452483062_691492168479138114_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                25: "https://scontent-waw1-1.cdninstagram.com/vp/064c4993555d28b410b19805c6125d7a/5DD7DAA3/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/56910302_1664613303684759_8253741646235736134_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                26: "https://scontent-waw1-1.cdninstagram.com/vp/4ea64072f79a374e2917b06a92797a2b/5E10130E/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/55811546_134448984356872_2262864692138789301_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                27: "https://scontent-waw1-1.cdninstagram.com/vp/b364745933fce4d268645635c58c3aaf/5DD7A994/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/54732061_354313098547405_7080156321051088372_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                28: "https://scontent-waw1-1.cdninstagram.com/vp/9993b21403cc1316659853f76cebb097/5DDF1E08/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/55872686_349238195937394_5759102052669959560_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                29: "https://scontent-waw1-1.cdninstagram.com/vp/ab44c21a0fba426668f6d51337284372/5E14BE1B/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/55745877_309014396403873_8144622834508883340_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                30: "https://scontent-waw1-1.cdninstagram.com/vp/72908b9861b881516fc680b930d43a1d/5DEFB781/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/55872686_653298162120631_1134635331650361496_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                31: "https://scontent-waw1-1.cdninstagram.com/vp/d388374257586b85383d99a9ad8fd1b8/5DDD3698/t51.2885-15/sh0.08/e35/c0.120.1080.1080a/s640x640/54446705_437462683644672_7290148809768475280_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                32: "https://scontent-waw1-1.cdninstagram.com/vp/324393914516b4a2b2136f1849df317b/5DFD28BE/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/56627389_339434646686457_1567119780213395151_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                33: "https://scontent-waw1-1.cdninstagram.com/vp/e817366354d4db82210a5969ddcb9ecc/5DF6F5CB/t51.2885-15/sh0.08/e35/c0.117.937.937/s640x640/56675365_2352013581483681_8156639253721867562_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                34: "https://scontent-waw1-1.cdninstagram.com/vp/ac35897e0bd10fef7e31cfc45e6a8239/5E09F7FF/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/55851137_2352854588291563_7107968325902368863_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                35: "https://scontent-waw1-1.cdninstagram.com/vp/1814ddfca241d4abea2933dfef09dc2d/5E0793F0/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/54513582_826711397683183_7602516390262556965_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                36: "https://scontent-waw1-1.cdninstagram.com/vp/944b01d4ca93efd48c11ff32bcc6b799/5DD756A0/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/54731543_2371774889502360_7688162307974614124_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                37: "https://scontent-waw1-1.cdninstagram.com/vp/7bab0abdb627e39e6f855c5ec9f481ad/5DFDB358/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/54513593_397331934154786_4671418215643989714_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                38: "https://scontent-waw1-1.cdninstagram.com/vp/bc3a1d6ff60b32458431dcb0b8c1cb10/5DFDBF1D/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/55729582_364832920796213_5012056678193883966_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                39: "https://scontent-waw1-1.cdninstagram.com/vp/fc4897a2d41fa0a188c0fffad7eeabfe/5DDD0FB2/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/54514054_2318345161823908_7834174551509245616_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                40: "https://scontent-waw1-1.cdninstagram.com/vp/fb9cbac3d13e9608220d0e280227c9cc/5E13A375/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/53687525_143305800050195_3669631427003692068_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                41: "https://scontent-waw1-1.cdninstagram.com/vp/e440d89a0a1f8ec4f1248918649303b7/5E09A33B/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/54800538_131920127942566_2339428434196861449_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                42: "https://scontent-waw1-1.cdninstagram.com/vp/85e6a3840975a8dda9c5442c1a12bd3e/5DDC5764/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/53827134_546934649163561_2599030391466398567_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                43: "https://scontent-waw1-1.cdninstagram.com/vp/5b1db8b3852f04bed521cb155e5d1cad/5DD75D63/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/54277536_2086441681462668_1482114893741068291_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                44: "https://scontent-waw1-1.cdninstagram.com/vp/7419dfd34835d50f5a43839e50a885a4/5DF3DC9D/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/54230435_410350123075790_6215348916207840046_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                45: "https://scontent-waw1-1.cdninstagram.com/vp/5c6d295e6f6649d435c07b375128956a/5E155515/t51.2885-15/sh0.08/e35/c0.134.1080.1080a/s640x640/53836933_2300961793518544_3389284212114898955_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                46: "https://scontent-waw1-1.cdninstagram.com/vp/5717bb6965fda7585116f2ebc485f7bd/5DF6334A/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/52829597_125342485204663_5566244882168859818_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                47: "https://scontent-waw1-1.cdninstagram.com/vp/6bf8d1fba3e2208cdf354f4144f628d6/5DFA5AE8/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/53732637_126763955122512_1685830715679006835_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                48: "https://scontent-waw1-1.cdninstagram.com/vp/d22435ec24b415be1c1ed9e9dd55133a/5DDB1609/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/53229900_382020575953154_8927083507364105137_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                49: "https://scontent-waw1-1.cdninstagram.com/vp/c67468ac98d230bc9f040cc88da40472/5E1274F8/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/53117283_328282988033853_6750912218801251882_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                50: "https://scontent-waw1-1.cdninstagram.com/vp/5fcf4d5cd3a5d8b3f0ed5a62c2ab9896/5D61F89F/t51.2885-15/e15/52422532_141751286862825_4450966976632391092_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                51: "https://scontent-waw1-1.cdninstagram.com/vp/4637fba114af2fecd2a202e6e407a9ad/5E0B0989/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/52637490_631022487335843_8036556697525929823_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                52: "https://scontent-waw1-1.cdninstagram.com/vp/833f0cfcb76599cfdfe201f3a3b51e53/5E0D5D0E/t51.2885-15/sh0.08/e35/c0.134.1080.1080a/s640x640/52065971_783679535351346_3304580567084455635_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                53: "https://scontent-waw1-1.cdninstagram.com/vp/53b25c087bc53efa576f238fbf3257ed/5E126B04/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/53183094_521523305053877_1737396440330728085_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                54: "https://scontent-waw1-1.cdninstagram.com/vp/b074615b6dc922828758e2e9ab00708e/5E122492/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/53821055_124047608667493_7411141589508649449_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                55: "https://scontent-waw1-1.cdninstagram.com/vp/f7bf9544d9a2428a4b1b081642f4faec/5DFD5331/t51.2885-15/sh0.08/e35/c0.134.1080.1080a/s640x640/53172823_124615448630016_1216152498469199978_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                56: "https://scontent-waw1-1.cdninstagram.com/vp/d903e7ff6fc437f4ccf01251e95069cb/5DFDEA8B/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/52838478_1822848927821729_1338611701291778151_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                57: "https://scontent-waw1-1.cdninstagram.com/vp/d6ac502a59fb5ccec3c4b9697487fe59/5DDE5774/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/51137506_356673341727945_4955148198591238032_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                58: "https://scontent-waw1-1.cdninstagram.com/vp/c730c589075b0ddce1125d56a9977221/5DF3A3B6/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/52080735_123505222069494_3988633884441891536_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                59: "https://scontent-waw1-1.cdninstagram.com/vp/c3b37918960641dee1e1b86612d6c27a/5E10AC50/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/51697162_2051569361579515_6326822370640757393_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                60: "https://scontent-waw1-1.cdninstagram.com/vp/97bdeb81fe7e5a7d7c72b5bb531f4b2d/5E15FBC4/t51.2885-15/sh0.08/e35/c0.117.937.937a/s640x640/51947711_103612987414926_8765461235595358805_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                61: "https://scontent-waw1-1.cdninstagram.com/vp/a3dcbfd18aafaf84a92cd8063bd0a6e3/5DD9E7E3/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/53203885_546577372503592_577683695645167927_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                62: "https://scontent-waw1-1.cdninstagram.com/vp/4f6c31b14bec9ac0476a161cd2b0cfa4/5E089284/t51.2885-15/sh0.08/e35/c0.134.1080.1080/s640x640/51945347_366988993895542_1449755864341363636_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                63: "https://scontent-waw1-1.cdninstagram.com/vp/1b27fa24737e37107471d814facd5b2f/5E15C1B0/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/50230776_2024511950977646_5910524454153015686_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                64: "https://scontent-waw1-1.cdninstagram.com/vp/c19e0ba548b23f459696511861d4856a/5DF97985/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/52051185_2046180885450996_1003367831149260442_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                65: "https://scontent-waw1-1.cdninstagram.com/vp/fbe8c4e64c446ad8372d99d8bff28bf7/5DD7FFC2/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/51404815_380914375823663_7226108480784988186_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                66: "https://scontent-waw1-1.cdninstagram.com/vp/07c96e0340c8eb433727cb995f151a8f/5E0A1087/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/51654883_259139524998889_7920878754480574392_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                67: "https://scontent-waw1-1.cdninstagram.com/vp/3cf58f7f8ad050f0eda37a6a1767963c/5DFD15B9/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/53062042_1243773045789473_7352372877827627379_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                68: "https://scontent-waw1-1.cdninstagram.com/vp/f99a803bbcc1d090fdfc048d4cba6041/5DEF112C/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/51353070_2345237342372919_980220956539805121_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                69: "https://scontent-waw1-1.cdninstagram.com/vp/2fbcd7a0ac71fd99d87a3d52e54edfb5/5DD9FFE5/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/51224315_257937338466783_3731859959561969347_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                70: "https://scontent-waw1-1.cdninstagram.com/vp/419bf9d644b0cd438c8aa3196df8b563/5DF7B859/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/51970201_224109235094690_5557319124610331795_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
                71: "https://scontent-waw1-1.cdninstagram.com/vp/7ed49e83b997276e89acdb8915911da2/5E0E191A/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/38080885_237659416776478_8350919155171459072_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com",
            };
        });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        const selector = '.carousel.carousel-slider';
        $(selector).carousel({});
        const i = setInterval(function () {
            $(selector).carousel('next');
        }, 2000); // every 2 seconds
        $( selector ).click(function() {
            clearInterval(i);
        });
        $('.modal').modal('open');
    });
</script>
</body>
</html>
