.modal-content > img {
    max-height: 100%;
    margin: 0 auto;
    width: 100%;
}

.modal .modal-content {
    height: fit-content;
    padding: 0;
    width: fit-content;
}

.modal {
    width: fit-content;
}
.wr{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
